{% extends '_base.html' %}
{% load static %}

{% block title %}
Gallery
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
{% endblock %}

{% block body %}
	<h1>Stable Diffusion WebUI</h1>
    <h3>by Philipp Schott</h3>

    <div class="images">
        {% for image in images %}
        	<div class="card">
                <img src="{{ image.image.url }}" alt="" />
                <div class="meta">
                    <span>{{ image.get_metadata.model }}</span>
                    <span>by {{ image.creator.username }}</span>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}