.card {
    position: relative;
    width: 100%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.15);
    padding: 24px;
    border-radius: 13px;

    left: 50%;
    transform: translateX(-50%);
}
.card h3 {
    margin: 0;
}

.card .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}
.card .row:not(.nohover):hover {
    color: yellow;
}
