html, body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;

    background: #444141;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}