h1 {
    user-select: none;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    user-select: none;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}


.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(100% - 40px);
    padding: 20px;
    justify-content: center;
}

.card {
    aspect-ratio: 1 / 1;
    max-width: 512px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card .meta {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;

    background: rgba(0, 0, 0, .8);

    text-align: center;
    line-height: 30px;
}